# General
DEBUG=True

# Microservice URLs (Ports assigned for local run)
GATEWAY_PORT=5000
USER_SERVICE_PORT=5001
PRODUCT_SERVICE_PORT=5002
INVENTORY_SERVICE_PORT=5003
ORDER_SERVICE_PORT=5004
RECOMMENDATION_SERVICE_PORT=5005
ANALYTICS_SERVICE_PORT=5006
NOTIFICATION_SERVICE_PORT=5007

# Infrastructure
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/hyperscale
MONGODB_URL=mongodb://localhost:27017/hyperscale
REDIS_URL=redis://localhost:6379/0
RABBITMQ_URL=pyamqp://guest:guest@localhost:5672//
KAFKA_URL=localhost:9092
ELASTICSEARCH_URL=http://localhost:9200

# Service communication (Internal)
USER_SERVICE_URL=http://localhost:5001
PRODUCT_SERVICE_URL=http://localhost:5002
INVENTORY_SERVICE_URL=http://localhost:5003
ORDER_SERVICE_URL=http://localhost:5004
RECOMMENDATION_SERVICE_URL=http://localhost:5005
ANALYTICS_SERVICE_URL=http://localhost:5006
NOTIFICATION_SERVICE_URL=http://localhost:5007
